// COLORS
$color-primary: #5b099a;
$color-primary-light: #721cb3;
$color-primary-dark: #48077a;

$color-secondary-light: #e6b800;
$color-secondary-dark: #bb9600;

$color-tertiary-light: #9dd900;
$color-tertiary-dark: #80b000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
