.login {
	// border: solid 1px black;
	// width: 70vw;
	// margin: 8vh auto;
	// background-color: $color-one;
	// box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
	// transition: transform 1s;
	
	&__row {
		padding-top: 10rem;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: center;
	}

	&__formGroup {
		// background-color: red; 
		margin: auto; 
		width: 70%; 
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	&__headingPrimary {
		font-size: 50px; 
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
		font-weight: 600; 
		white-space: -0.125em;
	}

	&__title {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
	}

	// &__list {
		// background-color: $color-white;
		// display: inline-table;
		// max-width: 25rem;
		// margin: 1rem;
		// box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
		// border-radius: 1rem;
		// word-wrap: break-word;
		// text-align: center;
		// vertical-align: center;

		// &:hover {
		// 	transform: translateY(-0.5rem) scale(1.03);
		// }
	}

